
@{
    ViewBag.Title = "Index";
}

<form action="/Maytinh/Calculate" method="post">
    <div class="row">
        <div class="col-2">
            <label class="form-label">So A</label>
            <input type="text" class="form-control" name="soA">
        </div>
        <div class="col-1">
            <label class="form-label">Toan tu</label>
            <select class="form-select" name="toantu">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
        </div>
        <div class="col-2">
            <label class="form-label">So B</label>
            <input type="text" class="form-control" name="soB">
        </div>
        <div class="col-1" style="margin-top:32px">
            <button type="submit" class="btn btn-primary" style="width:70px">=</button>
        </div>
        <div class="col-2">
            <label class="form-label">Ket qua</label>
            <input type="text" class="form-control" name="KetQua" value=@ViewBag.KetQua disabled>
        </div>
    </div>
</form>